body {
    background-color: rgb(174, 190, 206);
}
hr {
    border-style: none;
    border-top-style: double;
    border-color: grey;
    border-width: 5px;
    width: 20%;
}
h1,h2,h3,h4 {
   color: #41a0c5;
}

#heading:hover {
    color: rgb(0, 0, 0)
}
.focus:hover {
color:rgb(0, 0, 0)
}